*{
    font-family: 'Poppins', sans-serif;
}
table,td, th {
    border: 1px solid #ddd;
    margin-bottom: 10px;
}

td,th {
    padding: 10px;
}

table{
    width: 100%;
    border-collapse: collapse;
}

tr{
    background-color: rgba(252, 113, 113, 0.633);
}

/* tbody > tr:nth-child(odd){
    background-color: aqua;
} */

tbody > tr:first-child{
    background-color: antiquewhite;
}

tbody > tr:last-child{
    background-color: blanchedalmond;
}