:root{
    --primary-color: hsl(47, 88%, 63%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: var(--primary-color);
}

.form{
    max-width: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 30px 40px;
    background-color: aliceblue;
    /* transform:translateX(-50% ) translateY(-50%); */
    transform: translate(-50%,-50%); 
     /*translate rotate scale skew  */
    box-shadow: 10px 10px 10px black;
    border-radius: 10px;
}

.input{
    margin: 20px 0px;
}

.input__label{
    font-weight: 500;
}

.input__field{
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #f8f6f6;
    font-size: 16px;
    margin-top: 2px;
}

.input__field:focus{
    outline: none;
    box-shadow: 0px 0px 0px 2px hsl(0, 4%, 95%), 0px 0px 0px 5px hsl(47, 88%, 63%);
}
.input__field::placeholder{
    color: rgb(24, 142, 151);
}
.form__button{
    background-color: var(--primary-color);
    padding: 10px 20px;
    font-size: 16px;
    display: block;
    width: 100%;
    margin-top: 10px;
    border-radius: 10px;
}
.form__button:hover{
    background-color: hsl(52, 100%, 63%);
    cursor: pointer;
}
.form__button:active{
    box-shadow: 0px 0px 0px 2px hsl(0, 4%, 95%), 0px 0px 0px 5px hsl(47, 88%, 63%);
}