* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --Purple: hsl(259, 100%, 65%);
  --Lightred: hsl(0, 100%, 67%);

  --White: hsl(0, 0%, 100%);
  --Offwhite: hsl(0, 0%, 94%);
  --Lightgrey: hsl(0, 0%, 86%);
  --Smokeygrey: hsl(0, 1%, 44%);
  --Offblack: hsl(0, 0%, 8%);
}
body {
  background-color: var(--Offwhite);
  font-family: "Poppins", sans-serif;
}
.container {
  background-color: var(--White);
  border-radius: 2rem 2rem 6rem 2rem;
  margin: 4rem 2rem;
  padding: 2rem;
}
.inputs-container {
  display: flex;
  gap: 1rem;
}
.input-label {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}
.label {
  font-family: "PoppinsBold", sans-serif;
  color: var(--Smokeygrey);
  text-transform: uppercase;
  font-size: 0.7rem;
  letter-spacing: 0.2rem;
}
.input {
  font-family: "PoppinsBold", sans-serif;
  max-width: 9rem;
  width: 100%;
  font-size: 1.2rem;
  border: 1px solid var(--Lightgrey);
  border-radius: 0.5rem;
  padding: 0.625rem;
}
.btn-container {
  position: relative;
  margin: 1.5rem 0;
  display: flex;
  justify-content: center;
}
.btn-container::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 0.125rem;
  background-color: hsl(0, 0%, 86%);
  transform: translateY(-50%);
}
.btn {
  position: relative;
  background-color: var(--Purple);
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  border: none;
}
.total {
  font-weight: 800;
  font-style: italic;
  font-size: 2.8rem;
  line-height: 3.5rem;
}
.digits {
  color: var(--Purple);
}
@media only screen and (min-width: 1440px) {
  .main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

  .container {
    width: 800px;
    padding: 50px;
  }

  .input {
    font-size: 2rem;
  }

  .total {
    font-size: 4.7rem;
    line-height: 5rem;
  }

  .btn-container {
    justify-content: flex-end;
  }
}
